@model PhotoCommunity2025.Models.User

@{
    ViewData["Title"] = "Профиль пользователя";
}

<link rel="stylesheet" type="text/css" href="~/Style/Styles1.css" /> 

<div class="main-container">
    <div class="info-actions-container">
        <div class="container">
            <h2>Профиль пользователя</h2>
            <p><strong>Имя:</strong> @Model.FirstName</p>
            <p><strong>Фамилия:</strong> @Model.LastName</p>
            <p><strong>Отчество:</strong> @Model.MiddleName</p>
            <p><strong>Логин:</strong> @Model.Login</p>
            <p><strong>Список камер:</strong> @Model.Cameras</p>
            <p><strong>Список объективов:</strong> @Model.Lenses</p>
        </div>
        <div class="container">
            <h2>Действия</h2>
            <a asp-action="EditProfile" asp-route-username="@Model.Login" class="btn">Редактировать профиль</a>
            <a asp-action="SearchPhotos" class="btn">Поиск фотографий</a><br />
            <a asp-action="UploadPhoto" class="btn">Загрузить фотографию</a><br />
        </div>
    </div>
    <div class="photo-container">
        <h2>Фотографии</h2>
        <div class="photo-grid">
            @if (Model.Photos != null && Model.Photos.Any())
            {
                foreach (var photo in Model.Photos)
                {
                    <div class="photo-item">
                        <img src="~/Uploads/@photo.FilePath" alt="Фото" width="300" height="300" />
                        <div class="photo-actions">
                            <a asp-action="View" asp-route-id="@photo.PhotoId" class="action-button">Просмотреть</a>
                            <a asp-action="Delete" asp-route-id="@photo.PhotoId" class="action-button">Удалить</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Нет фотографий для отображения.</p>
            }
        </div>
    </div>
</div>
